.ui--drop-down {
  @extend %ui--drop-down;
}

%ui--drop-down {
  position: relative;
  display: inline-block;
  width: auto;

  color: #DDD;

  .anchor {
    // font-size: 12px;

    color: rgba(#000, 0.80);
    text-decoration: none;

    &:hover {
      // color: #fff;
    }
  }

  .drop-down {
    position: absolute;
    top: 28px;
    right: -10px;
    // left: 0;
    margin: auto;

    display: none;
    min-width: 100%;
    width: auto;

    border-radius: 5px;
    box-shadow:
      0 6px 12px rgba(0,0,0,0.25),
      0 0 0 1px rgba(0,0,0,0.05)
    ;

    // border: 1px solid #eee;
    background: #fff;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: -15px;
      // left: 10%;
      right: 10px;

      margin: auto;

      @include triangle(14px, rgba(0,0,0,0.2), up);
    }
    &:after {
      @extend .drop-down:before;

      top: -14px;

      @include triangle(14px, #fff, up);
    }

    li {
      // padding: 12px 18px;
      border-bottom: 1px solid #ccc;
    }

    a {
      white-space:nowrap;
      display: block;

      height: 100%;
      width: 100%;
      padding: 14px 20px;

      text-decoration: none;
      font-size: 14px;

      color: rgba($color-accent-dark, 0.8);

      &:hover {
        color: rgba($color-accent-dark, 1.0);
      }
    }

  }



  // show drowdown
  a:hover + ul {
    display: block;
    // background: #000;
  }
  ul:hover {
    display: block;
  }

}

//

.ui--list-sorting {
  float: right;
}

.ui--sort-controls {
  @include clearfix;

  margin: em(14) em(2);

  font-size: em(14);
  color: tint(#000, 60%);
}

.ui--filter-tags {
  padding: em(14) em(2);

  font-size: em(12);
  color: tint(#000, 60%);

  span {
    @extend %radius;

    padding: em(4) 0 em(4) em(12);
    background: tint($color-primary, 98%);
    border: 1px solid tint($color-primary, 50%);

    a {
      display: inline-block;
      @include size(16px);
      text-align: center;
      text-decoration: none;
      color: tint($color-primary, 20%);
      margin: 0 em(3);
      // background: tint($color-primary, 20%);
      border-radius: 50%;
    }
  }
}
