%radius {
  border-radius: 5px;
  overflow: hidden;
}

// =========

%text-label {
  width: 100%;
  margin: 0;

  font-size: em(12);
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;

  overflow: hidden;

  color: #898989;
}

%text-value {
  margin: 0;

  font-size: em(16);
  text-transform: capitalize;

  color: #000;
}

// =========

// TODO:
// change that "name" container

.module--list-item {
  .wrapper {
    @include span-columns(12);
    @include row(table);
    // @include outer-container;
  }
  // $module-color-border : $color-border;
  // $module-color-text-label : ;
  // $module-color-background : ;
  // margin: 0;

@include outer-container;
  // @include span-columns(12);
  // @include row(table);

  // min-width: em(600);

  @extend %radius;

  .top {
    @include span-columns(4);
    padding: 0;
    @include omega();
  }

  .bottom {
    position: relative;
    @include span-columns(8 of 12);
    padding: 0;
    @include reset-display;

  }

  .col {
    @include span-columns(1);
    @include pad(1em);
  }

  .goto {
    // position: relative;
    padding: 0;
    width: 0;
    // @include span-columns(1 of 8);
    a {
      position: absolute;
      top: 24%;
      // bottom: 0;

      right: 5%;

      margin: auto;
      // float: right;
      padding: 0;
      display: block;
      @include size(28);
      border: solid $color-border;
      border-width: 2px 2px 0 0 ;

      @include hide-text();

      transform-origin:50%;
      transform: rotate(45deg);
      // -webkit-transform: rotate(45deg);
    }
  }

  .name {
    @include span-columns(4 of 4);
  }

  .status {
    @include span-columns(4 of 4);

    border-top: $border-style;
    border-right: $border-style;

    @extend %text-sub-label;

    margin: 0;
    // background: skyblue;
    text-align: center;
    // color: white;
    // font-size: em(14);
    background: whitesmoke;

    a {
      font-size: em(14);
      display: block;
      height: 100%;
      text-decoration: none;
      background: skyblue;
    }
    p {
      padding-top: em(10);
      color: white;
    }

    &.active {
      p {
        font-size: em(12);
        color: $color-success;
      }
    }
  }

  .lease {
    @include span-columns(8 of 8);

    background: whitesmoke;
    border-top: $border-style;

    @extend %text-sub-label;
    text-align: left;
    color: #898989;

    p {
      padding-top: em(8);
      padding-left: em(12);
      font-size: em(14);
    }
  }

  .building {
    @include span-columns(3 of 7);
  }
  .unit {
    @include span-columns(1.5 of 7);
  }
  .automation {
    @include span-columns(2 of 7);
  }

  .label {
    @extend %text-label;
  }
  .value {
    @extend %text-value;
  }

}

%text-sub-label {
  font-size: em(14);
  // padding: em(4) 0;
  height: em(32);
  // text-align: center;
  p {
    // line-height: em(24);
    // width: 90%;
    margin: 0;
    // padding: em(2);
    // text-align: center;
  }
}

// ============

.module--resident-details {
  @extend .module--list-item;

  background: $color-bg-gray;

  .details {
    @include span-columns(12);
    // width: 100px;
    // height: 400px;
    border-top: $border-style;
    background: white;
  }
}

// ==========
.ui--tab-section {

  .tab-horizontal {
    width: 100%;
    @include pad(1em);

    font-size: em(14);

    ul {
      // display: block;
      border: $border-style;
      @extend %radius;

      overflow: hidden;

      @include clearfix;
    }

    li {
      display: block;
      float: left;

      width: 100/3 * 1%;
      @include pad(.4em .2em);

      text-align: center;
      text-transform: capitalize;
      color: $color-primary;

      &+li {
        // background: #000;
        border-left: $border-style;
      }

      &.active {
        color: black;
        background: $color-bg-gray;
      }

      &:hover {
        background: tint($color-bg-gray, 50%);
      }
    }

    a {
      display: block;

      text-decoration: none;
      font-size: inherit;

      color: inherit;
    }
  }

  .tab-content {
    section {
      display: none;

      &.open {
        display: block;
      }
    }

  }
}
